certifi==2026.5.20
charset-normalizer==3.4.7
cramjam==2.11.0
fastparquet==2026.5.0
fsspec==2026.4.0
idna==3.17
iniconfig==2.3.0
joblib==1.5.3
numpy==2.4.6
packaging==26.2
pandas==3.0.3
pluggy==1.6.0
pyarrow==24.0.0
Pygments==2.20.0
pytest==9.0.3
python-dateutil==2.9.0.post0
requests==2.34.2
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
urllib3==2.7.0
